[Desktop Entry]
Name=Oryxis
Comment=Modern SSH client built in Rust
Exec=oryxis
Icon=oryxis
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
Keywords=ssh;terminal;remote;
StartupWMClass=oryxis
